@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

$bg-color: #0b1121;

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background-color: $bg-color;
  position: relative;
  min-height: 100vh;
  padding-bottom: 140px;
}
* {
  font-family: "Inter", "sans-serif";
  transition: all 0.2s;
  box-sizing: border-box;
  outline: none;
}
::selection {
  background-color: #fff;
  color: #000;
}
.App {
  .heading {
    color: #fff;
    font-size: 1.4rem;
  }
  .movie-slider {
    padding: 10px 0;

    .movie-swiper-container {
      * {
        user-select: none;
      }
      .movie-swiper {
        width: 100%;

        .link-to-movie {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .img {
            width: 100%;
            border-radius: 10px;
          }
          .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.9rem;
            overflow: hidden;
            color: #fff;
          }
        }
      }
      .movie-swiper-loading {
        width: 100px;
        height: 100px;
        background-color: white;
        border-radius: 10px;
      }
    }
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 3%;
    position: relative;
    background-color: #0f172a89;
    z-index: 10;
    height: 8vh;
    position: sticky;
    top: 0;

    .logo-div {
      img {
        width: 150px;
      }
    }
    .right-div {
      display: flex;
      align-items: center;
      gap: 20px;

      .change-genre {
        width: 140px;

        .react-select__control {
          background-color: $bg-color;
          color: white;
          border: none;
          box-shadow: 0px 0px 4px gray;
        }
        .react-select__menu {
          background-color: $bg-color;
          color: white;
        }
        .react-select__option--is-focused {
          background-color: $bg-color;
          color: white;
        }
        .react-select__single-value {
          color: white;
        }
        .react-select__option--is-selected {
          font-weight: 500;
          background-color: white;
          color: $bg-color;
        }
        .react-select__placeholder {
          color: white;
        }
      }
      .search-icon {
        font-size: 1.4rem;
        display: grid;
        place-content: center;
        background-color: #fff;
        color: $bg-color;
        width: 36px;
        height: 36px;
        border-radius: 50%;
      }
    }
    .search-tab {
      position: absolute;
      top: 100%;
      right: 30px;
      height: 0;
      width: 300px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 20px;
      border: none;

      * {
        border: none;
        background-color: $bg-color;
        color: #fff;
      }
      input {
        height: 100%;
        width: 100%;
        font-size: 1rem;
        padding: 0 20px;

        &::placeholder {
          color: #9a9a9a;
        }
      }
      button {
        width: 36px;
        height: 100%;
        border: none;
        display: grid;
        font-size: 1.5rem;
        place-content: center;
      }
    }
    .show-search-tab {
      height: 38px;
      box-shadow: 0px 0px 3px lightgray;
    }
  }
  .home {
    animation: fade 1s 1 ease-in;

    .home-type-list {
      padding: 30px;
    }
    .backdrop-container {
      .backdropImg {
        .link-to-movie {
          img {
            width: 100%;
            height: 600px;
            object-fit: cover;
            object-position: 50% 20%;
            position: relative;
          }
          .detail {
            position: absolute;
            bottom: 0px;
            left: 20px;
            color: #fff;
            z-index: 3;
            width: clamp(300px, 90%, 700px);

            .movie-title {
              font-size: 2rem;
              font-weight: 500;
            }
            .overview {
              width: 100%;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }
          }
          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, #0f172a16, $bg-color);
            z-index: 2;
          }
        }
      }
    }
  }
  .movie-tv-detail-page {
    animation: fade 1s 1 ease-in;

    .details {
      .details-container {
        position: relative;

        .backdrop-container {
          position: absolute;
          inset: 0;
          z-index: -1;

          .backdrop-img {
            position: absolute;
            object-fit: cover;
            object-position: 50% 0;
            inset: 0;
            width: 100%;
            height: 100%;
          }
          &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 2;
            background: radial-gradient(
              circle,
              $bg-color 0%,
              rgba(0, 0, 0, 0.7) 0%,
              $bg-color 100%
            );
          }
          &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 2;
            background: linear-gradient(to top, $bg-color, transparent);
          }
        }
        .img-title {
          padding: 50px 0;
          width: 80%;
          margin: auto;
          display: flex;
          justify-content: center;
          align-items: self-start;
          gap: 20px;

          .img-container {
            text-align: center;

            .img {
              width: clamp(150px, 100%, 450px);
              text-align: center;
              border-radius: 10px;
              user-select: none;
              margin: auto;
            }
          }
          .title-summary {
            width: clamp(300px, 100%, 100%);
            * {
              color: #fff;
            }
            .title {
              font-size: 2rem;
              font-weight: 300;
              margin: 0;

              span {
                font-size: 0.9rem;
              }
            }
            .tagline {
              font-size: 1rem;
              font-style: italic;
              color: rgb(176, 176, 176);
              margin: 8px 0;
            }
            .genres {
              display: flex;
              gap: 7px;
              flex-wrap: wrap;

              span {
                font-size: 0.8rem;
                border-right: 1px solid #fff;
                padding: 1px 7px 1px 1px;
              }
              :first-child {
                background-color: white;
                color: #000;
                padding: 1px 3px;
                font-weight: 500;
                border-radius: 3px;
              }
              :last-child {
                border-right: none;
              }
            }
            .type {
              font-size: 0.9rem;
            }
            .release-website {
              font-size: 0.9rem;
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 20px;

              .website {
                a {
                  text-decoration: none;
                  display: flex;
                  gap: 3px;

                  span {
                    display: grid;
                    place-content: center;
                  }
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            .rating {
              display: flex;
              justify-content: start;
              align-items: center;
              gap: 5px;
              font-size: 1.2rem;

              span {
                display: grid;
                place-content: center;
              }
            }
            .story-line {
              font-size: 1.2rem;
              margin: 0;
            }
            .overview {
              line-height: 150%;
              margin: 5px 0;
            }
            .trailer-container {
              .link-to-trailer {
                display: flex;
                justify-content: start;
                align-items: center;
                font-size: 1rem;
                text-decoration: none;
                width: fit-content;
                gap: 6px;
                padding: 10px 20px;
                margin: 20px 0;
                border: 1px solid white;
                border-radius: 30px;

                .trailer-btn {
                  font-size: 1.6rem;
                  display: grid;
                  place-content: center;
                }
                &:hover {
                  background-color: white;
                  span {
                    color: #000;

                    svg {
                      path {
                        fill: $bg-color;
                      }
                    }
                  }
                }
              }
            }
            .dir {
              display: flex;
              gap: 5px;

              .dir-title {
                font-weight: 500;
              }
              .dir-list {
                display: flex;
                flex-wrap: wrap;

                span {
                  border-left: 2px solid rgb(200, 200, 200);
                  color: rgb(201, 201, 201);
                  padding: 0 5px;
                }
                :first-child {
                  padding: 0 5px 0 0;
                  border: none;
                }
              }
            }
          }
        }
      }
      .additional-details {
        width: 80%;
        margin-top: 50px;
        margin: auto;

        .credits {
          .line-credits {
            border-radius: 10px;
            padding: 6px;
            height: 100%;

            .link-to-profile {
              text-decoration: none;
              .image {
                img {
                  border-radius: 10px;
                  width: 100%;
                }
              }
              .name-details {
                color: #fff;
                text-align: center;
                font-size: 0.9rem;

                .name {
                  margin: 5px 0;
                }
                .charactor {
                  word-wrap: break-word;
                  font-size: 0.7rem;
                  color: rgb(203, 203, 203);
                  margin: 0;
                }
              }
            }
          }
        }
      }
    }
  }
  .explore-page {
    padding: 30px;

    .explore-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 20px;

      .heading {
        color: #fff;
      }
      .category {
        .change-category {
          padding: 5px 10px;
          border-radius: 7px;
        }
      }
      .hide-category {
        display: none;
      }
    }
    .all-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 30px;

      .loader {
        display: flex;
        justify-content: center;
        width: 100%;
        grid-column: span 1/-1;
      }
      .movie-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        text-decoration: none;

        .img {
          width: 100%;
          border-radius: 10px;
        }
        .title-date {
          .title {
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 0.9rem;
            overflow: hidden;
            color: #fff;
            margin: 7px 0;
          }
          .release-date {
            color: #afafaf;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #131d34;
    padding: 30px;

    p {
      color: #fff;
      text-align: center;
      margin: 0;

      a {
        color: rgb(165, 165, 248);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
    .social {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      margin-top: 20px;

      a {
        text-decoration: none;
        color: #fff;

        .icon {
          display: grid;
          place-content: center;
          font-size: 2.6rem;
        }
      }
    }
  }
}
@media (max-width: 1300px) {
  .App {
    .movie-tv-detail-page {
      .details {
        .details-container {
          .img-title {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}
@media (max-width: 600px) {
  html {
    font-size: 90%;
  }
  .App {
    .navbar {
      .logo-div {
        img {
          width: 120px;
        }
      }
      .right-div {
        gap: 10px;

        .change-genre {
          width: 100px;
        }
      }
    }
    .movie-tv-detail-page {
      .details {
        .details-container {
          .img-title {
            width: clamp(200px, 96%, 100%);
          }
        }
        .additional-details {
          width: clamp(200px, 96%, 100%);
        }
      }
    }
    .home {
      .home-type-list {
        padding: 0;
      }
      .backdrop-container {
        .backdropImg {
          .link-to-movie {
            img {
              height: 300px;
            }
            .detail {
              .movie-title {
                font-size: 1.4rem;
              }
              .overview {
                -webkit-line-clamp: 2;
              }
            }
          }
        }
      }
      .movie-slider {
        padding: 15px;

        .movie-swiper-container {
          .movie-swiper {
            .link-to-movie {
              img {
                border-radius: 7px;
              }
            }
          }
        }
      }
    }
    .explore-page {
      padding: 30px 10px;

      .all-content {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        gap: 15px;
      }
    }
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
